# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
.kiro
# Virtual Environment
.venv/
venv/
ENV/
env/

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# Data files
data/*.db
data/*.json
*.db
*.db-journal

# Logs
*.log

# OS
.DS_Store
Thumbs.db


# Temporary files
*.tmp
*.bak
.kiro/steerin/design.md
.kiro/steerin/requirements.md

#data
data/

# 模型
models/
backtest_result/
t.py

quantification-system/frontend/node_modules
quantification-system/frontend/dist
quantification-system/frontend/.*
quantification-system/backend/log
logs
